body {
  background-color: #f3f3f3;
  font-size: 15px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  max-width: 1210px;
  margin: 0 auto;
}

.container {
  width: 1090px;
  padding: 0 20px;
}

.header-page {
  background-color: #222222;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.header-logo {
  width: 178px;
  height: 62px;
  margin-left: 20px;
}

.user-section {
  margin: -10px 0px 20px auto;
}

.user-section form {
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.user-section form input[type="text"] {
  box-sizing: content-box;
  width: 530px;
  padding: 5px 5px 10px 25px;
  vertical-align: top;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.user-section button {
  margin-left: -3px;
  background-color: #f10e34;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  width: 55px;
  height: 31px;
  cursor: pointer;
    border: none;
}

.user-section button:active {
  box-shadow: inset 2px 2px 10px black;
}

/*Плавно прячем placeholder*/

input[type="text"]::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.user-section button::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: url("../img/user-section-sprites.png") no-repeat;
  background-position: -5px -5px;
  bottom: 8px;
  left: 20px;
}

.user-section .basket {
  float: left;
  font-size: 0;
  margin-right: 30px;
}

.basket .basket-shop {
  position: relative;
  background-color: #f10e34;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 20px;
}

.basket .basket-shop:active {
  box-shadow: inset 1px 1px 10px black;
}

.basket .total-price {
  width: 95px;
  display: inline-block;
  font-size: 15px;
}

.user-section .basket-shop::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 12px;
  background: url("../img/user-section-sprites.png") no-repeat;
  background-position: -29px -5px;
  bottom: 8px;
  left: 8px;
}

.navigation {
  margin: 0;
  padding: 0 15px;
  display: flex;
  font-size: 12px;
  line-height: 4.167;
  margin-right: 0;
  margin-left: auto;
}


.navigation li {
  vertical-align: top;
  list-style: none;
  margin-left: 30px;
}

.navigation li a {
  color: white;
  text-decoration: none;
}


.cathegories {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 3.333;
  background-color: #f10e34;
  font-size: 0;
  color: #ffffff;
  position: relative;
}

.cathegories > a {
  font-size: 14px;
  display: inline-block;
  margin-left: 80px;
  text-decoration: none;
  color: #ffffff;
}

.cathegories::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/cathegories-sprites.png") no-repeat;
  background-position: -28px -5px;
  bottom: 10px;
  left: 50px;
}

.cathegory ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  position: relative;
}

.cathegory ul li {
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #eaeaea;
}

.cathegory ul a {
  text-decoration: none;
  color: #222;
}

/*

.cathegory ul li::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: url("../img/cathegories-sprites.png") no-repeat;
  background-position: -5px -5px;
}

Подобные вещи нужно делать иконочным шрифтом

*/

.cathegories ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  margin-right: 85px;
}

.cathegories ul a {
  color: #fff;
  text-decoration: none;
}


.cathegories li {
  display: inline-block;
  font-size: 14px;
  padding: 0 20px;
}



.cathegory {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3.333;
  float: left;
  width: 300px;
  margin-right: 30px;
}

.cathegories-slider {
  width: 835px;
}

.slider-test {
  display: flex;
  flex-direction: column;
}

.slider {
  width: 735px;
  background: url("../img/slider-1.png") no-repeat;
  height: 349px;
  margin-top: -2px;
}


.slider-desc h2 {
  font-size: 38px;
  color: rgb(48, 58, 122);
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.13);
  margin: 0;
  padding: 0;
  margin-top: 100px;
  margin-left: 70px;
}

.slider-desc p {
  font-size: 40px;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.13);
  margin: 0;
  padding: 0;
  margin-left: 70px;
  color: #fff;
  padding-bottom: 50px;
}

.slider-btn {
  display: inline-block;
  color: #222;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #222222;
  margin-left: 170px;
}

.slider-features {
  background-color: #f10e34;
  width: 735px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  min-height: 56px;
}

.slider-features .feature-item {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  width: 185px;
  font-size: 0;
  text-align: center;
}

.slider-features .feature-item:nth-child(1) {
  margin-left: 60px;
}

.slider-features .feature-item:last-child {
  margin-right: 60px;
}

.slider-features .feature-item p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.slider-features .feature-item b {
  font-size: 10px;
  display: block;
  padding-bottom: 10px;
}

.left-side-catalog {
  float: left;
  width: 298px;
  margin-top: 35px;
  margin-right: 33px;
  margin-left: -2px;
}

.catalog-item {
  background-color: #ffffff;
}

.left-side-catalog .catalog-item:nth-child(1) {
  margin-bottom: 30px;
}

.catalog-item b {
  padding: 25px;
  display: inline-block;
  vertical-align: baseline;
  padding-left: 0;
}

.catalog-item a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #222;
}

.catalog-item .prev::before {
  content: "";
  position: absolute;
  background: url("../img/navigation-sprites.png") no-repeat;
  width: 26px;
  height: 29px;
  background-position: -5px -5px;
  top: 5px;
  right: 2px;
}

.catalog-item .next::before {
  content: "";
  position: absolute;
  background: url("../img/navigation-sprites.png") no-repeat;
  width: 26px;
  height: 29px;
  background-position: -5px -5px;
  top: 5px;
  left: 7px;
}

.catalog-item .prev {
  width: 22px;
  height: 22px;
  position: relative;
  background-color: #cacaca;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 0px;
}


.catalog-item .next {
  width: 22px;
  height: 22px;
  position: relative;
  background-color: #f10e34;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 27px;
}

.left-side-catalog .catalog-item .deal-img {
  border-top: 1px solid #eaeaea;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 25px;
}

.catalog-item p {
  text-align: center;
  margin: 10px 0px;
}

.left-side-catalog .catalog-item .price {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.left-side-catalog .catalog-item .old-price {
  text-decoration: line-through;
  color: #808080;
}

.left-side-catalog .catalog-item .current-price {
  font-weight: bolder;
  margin-left: 20px;
}

.subscribe {
  width: 298px;
  background: #fff;
  margin-top: 35px;
  margin-bottom: 35px;
}

.subscribe b {
  display: block;
  padding: 25px;
  padding-bottom: 10px;
}

.subscribe p {
  margin: 0;
  border-top: 1px solid #eaeaea;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 15px;
  line-height: 3.333;
}

.subscribe form .btn {
  margin-left: 25px;
  font-size: 11px;
  margin-bottom: 30px;
  padding: 5px 20px;
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3;
  background-color: #f22f49;
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
}

.subscribe form {
  margin: 0;
  padding: 0;
}


.subscribe form input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 45px;
  border: none;
  background-color: #f3f3f3;
  margin-left: 25px;
  padding-left: 25px;
  margin-bottom: 25px;
}

.catalog-item .header {
    position: relative;
  margin-left: 25px;
  margin-right: 25px;
}


.brands {
  min-height: 185px;
  background-color:  #f10e34;
}

.right-side-products {
  float: left;
  width: 735px;
  margin-top: 35px;
}

.right-side-products .catalog-info {
  display: flex;
  background-color: #fff;
}

.catalog-info h2 {
  padding: 0px 30px;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3.333;
}

.catalog-info .product-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0px;
  margin-right: 130px;
}

.catalog-info .product-navigation li {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  font-size: 15px;
  line-height: 5.333;
}

.catalog-info .pagination {
  position: relative;
}

.catalog-info a {
  font-size: 14px;
  text-decoration: none;
  color: #222;
}

.pagination .prev::before {
  content: "";
  position: absolute;
  background: url("../img/navigation-sprites.png") no-repeat;
  width: 26px;
  height: 29px;
  background-position: -5px -5px;
  top: 5px;
  right: 2px;
}

.pagination .next::before {
  content: "";
  position: absolute;
  background: url("../img/navigation-sprites.png") no-repeat;
  width: 26px;
  height: 29px;
  background-position: -5px -5px;
  top: 5px;
  left: 7px;
}

.pagination .prev {
  width: 22px;
  height: 22px;
  position: relative;
  background-color: #cacaca;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 65px;
}


.pagination .next {
  width: 22px;
  height: 22px;
  position: relative;
  background-color: #f10e34;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 35px;
}

.new-product-catalog {
  background-color: #fff;
  width: 735px;
}

.catalog .catalog-item {
  width: 153px;
  margin-left: 25px;
  text-align: center;
}

.catalog .catalog-item h3 {
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
}

.catalog {
  display: flex;
  border-top: 1px solid #f3f3f3;
  padding-top: 25px;
}

.stars-catalog {
  margin-top: 4px;
  margin-left: -8px;
  margin-bottom: 22px;
}

.sale-banners {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;

}

.sale-banners .banner-item {
  width: 397px;
  background-color: #fff;
  margin-right: 40px;
  min-height: 225px;
  text-align: right;
}

.sale-banners .banner-item:nth-child(1) {
  background: #fff url("../img/banner-item-1.png") no-repeat;
}

.sale-banners .banner-item:nth-child(2) {
  background: #fff url("../img/banner-item-2.png") no-repeat;
  margin-right: 0;
}

.banner-item .text-banner {
  margin-right: 30px;
  margin-top: 50px;
}


.banner-item b {
  color: #dedbdb;
  font-family: "Impact", "Arial", sans-serif;
  font-size: 38px

}

.banner-item p {
  font-weight: bold;
  margin: 0;
}

.banner-item a {
  display: block;
  margin-top: 20px;
  color: #7fc1f5;
  margin-bottom: 15px;
}

.banner-item .select-item {
  color: #dedbdb;
  font-size: 12px;
  margin-right: -8px;
}

.promo-banner {
  background: #fff url("../img/promo-big-banner.png") no-repeat;
  min-height: 225px;
  text-align: right;
  margin-top: 30px;
  margin-bottom: 35px;
}

.promo-banner h3 {
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: right;
  padding-top: 60px;
  width: 230px;
  margin-right: 35px;
  margin-left: auto;
}

.promo-banner h3 > span {
  color: #0f8ce9;
}

.promo-banner a {
  text-decoration: none;
  margin-right: 35px;
}

.promo-banner + .catalog-info .pagination {
  margin-right: 110px;
  margin-left: auto;
}

.features-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 30px;
  background-color: #fff;
  margin-bottom: 30px;
  border-top: 1px solid #f3f3f3;
  width: 705px;
}

.features-catalog .feature-item:last-child {
  margin: 0;
  padding: 0;
}

.features-catalog .feature-item {
  width: 230px;
  display: flex;
  margin-bottom: 25px;
}

.feature-item .feature-img {
  margin-right: 15px;
}

.feature-item .feature-desc h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 5px;
}

.feature-item .feature-desc a {
  text-decoration: none;
  color: #222;
}

.feature-desc .old-price {
  text-decoration: line-through;
}

.test-fixed {
  padding: 10px;
  color: white;
  background: rgba(15, 140, 233, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 25px;
  max-width: 1190px;
  visibility: hidden;
}


.footer-page {
  background-color: #222222;
  color: #ffffff;
  font-size: 14px;
  font-family: "Myriad Pro";
  line-height: 1.714;
}

.copyright-info {
  background-color: #1f1e1e;
  color: #ffffff;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}
